.untitled-removebg-preview-3 {
  width: 1441px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -1px;
  max-height: 100%;
  object-fit: cover;
}
.untitled-removebg-preview-31 {
  height: 214px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 259px;
  z-index: 1;
}
.rectangle-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue-100);
  width: 100%;
  height: 100%;
  display: none;
}
.image-4-removebg-preview-4-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 34px;
  max-height: 100%;
  width: 123px;
  object-fit: cover;
  z-index: 2;
}
.services {
  margin: 0;
  position: absolute;
  top: 34px;
  left: 131px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 178px;
  height: 49px;
  z-index: 3;
}
.rectangle {
  align-self: stretch;
  height: 108px;
  position: relative;
  background-color: var(--color-skyblue-100);
  z-index: 1;
}
.rectangle-wrapper,
.untitled-removebg-preview-3-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-wrapper {
  width: 358px;
  flex-direction: column;
  padding: var(--padding-34xl) 0 0;
  box-sizing: border-box;
  min-width: 358px;
}
.untitled-removebg-preview-3-parent {
  width: 880px;
  flex-direction: row;
  gap: 0 124px;
}
.image-1-removebg-preview-4-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.image-1-removebg-preview-4-wrapper {
  height: 161px;
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-34xl) 0 0;
  box-sizing: border-box;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child {
  height: 735px;
  width: 1284px;
  position: relative;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.frame-item,
.huey-air {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.frame-item {
  top: 0;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-black);
  width: 100%;
  height: 100%;
  display: none;
}
.huey-air {
  top: 86px;
  border-top: 1px solid var(--color-black);
  width: 1195px;
  height: 0;
  z-index: 3;
}
.frame-inner,
.line-icon {
  position: absolute;
  top: -0.5px;
  left: 335.4px;
  width: 2.9px;
  height: 564.4px;
  object-fit: contain;
  z-index: 4;
}
.line-icon {
  left: 710.7px;
}
.user-51 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.user-5 {
  position: absolute;
  top: 483px;
  left: 20px;
  display: inline-block;
  width: 189px;
  height: 50px;
  z-index: 3;
}
.clients,
.user-11 {
  margin: 0;
  font-family: inherit;
}
.clients {
  position: absolute;
  top: 27px;
  left: 78px;
  font-size: var(--font-size-11xl);
  font-weight: 400;
  display: inline-block;
  width: 157px;
  height: 50px;
  z-index: 3;
}
.user-11 {
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.user-1 {
  position: absolute;
  top: 124px;
  left: 15px;
  display: inline-block;
  width: 183px;
  height: 49px;
  z-index: 3;
}
.user-21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.user-2 {
  position: absolute;
  top: 214px;
  left: 15px;
  display: inline-block;
  width: 189px;
  height: 49px;
  z-index: 3;
}
.user-31 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.user-3 {
  position: absolute;
  top: 303px;
  left: 17px;
  display: inline-block;
  width: 189px;
  height: 50px;
  z-index: 3;
}
.user-41 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.user-4 {
  position: absolute;
  top: 393px;
  left: 17px;
  display: inline-block;
  width: 189px;
  height: 50px;
  z-index: 3;
}
.car-wash1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.car-wash,
.service-type {
  position: absolute;
  top: 483px;
  left: 731px;
  display: inline-block;
  width: 255px;
  height: 50px;
  z-index: 3;
}
.service-type {
  margin: 0;
  top: 27px;
  left: 828px;
  font-size: var(--font-size-11xl);
  font-weight: 400;
  font-family: inherit;
  width: 261px;
}
.interior-cleaning1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.interior-cleaning {
  position: absolute;
  top: 133px;
  left: 731px;
  display: inline-block;
  width: 427px;
  height: 50px;
  z-index: 3;
}
.change-oil1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.change-oil {
  position: absolute;
  top: 223px;
  left: 731px;
  display: inline-block;
  width: 283px;
  height: 49px;
  z-index: 3;
}
.car-wash3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.car-wash2 {
  position: absolute;
  top: 313px;
  left: 731px;
  display: inline-block;
  width: 255px;
  height: 49px;
  z-index: 3;
}
.change-oil3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.change-oil2 {
  position: absolute;
  top: 403px;
  left: 731px;
  display: inline-block;
  width: 283px;
  height: 49px;
  z-index: 3;
}
.motorcycle1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.motorcycle {
  position: absolute;
  top: 483px;
  left: 355px;
  display: inline-block;
  width: 313px;
  height: 50px;
  z-index: 3;
}
.sedan1,
.vehicle-type {
  margin: 0;
  font-family: inherit;
}
.vehicle-type {
  position: absolute;
  top: 27px;
  left: 396px;
  font-size: var(--font-size-11xl);
  font-weight: 400;
  display: inline-block;
  width: 260px;
  height: 50px;
  z-index: 3;
}
.sedan1 {
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.sedan {
  position: absolute;
  top: 133px;
  left: 355px;
  display: inline-block;
  width: 184px;
  height: 50px;
  z-index: 3;
}
.suv1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.suv {
  position: absolute;
  top: 223px;
  left: 355px;
  display: inline-block;
  width: 135px;
  height: 49px;
  z-index: 3;
}
.suv3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.suv2 {
  position: absolute;
  top: 313px;
  left: 355px;
  display: inline-block;
  width: 135px;
  height: 49px;
  z-index: 3;
}
.van1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.van {
  position: absolute;
  top: 403px;
  left: 355px;
  display: inline-block;
  width: 135px;
  height: 49px;
  z-index: 3;
}
.rectangle-group,
.rectangle-parent {
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  height: 564px;
  flex: 1;
  position: relative;
  z-index: 2;
}
.rectangle-parent {
  align-self: stretch;
  height: 735px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-43xl) 44px var(--padding-43xl) 43px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-3,
.services-adminhigh-fidelity {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.services-adminhigh-fidelity {
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: -18px;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: 31px 76px var(--padding-43xl) 78px;
  max-width: 100%;
}
.desktop-3 {
  height: 1024px;
  position: relative;
  flex-direction: row;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-parent {
    flex-wrap: wrap;
  }
  .rectangle-parent {
    padding-left: 21px;
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .desktop-3 {
    height: auto;
    min-height: 1024;
  }
}
@media screen and (max-width: 1050px) {
  .services {
    font-size: var(--font-size-5xl);
  }
  .rectangle-wrapper {
    flex: 1;
  }
  .untitled-removebg-preview-3-parent {
    flex-wrap: wrap;
    gap: 0 62px;
  }
  .clients,
  .service-type,
  .vehicle-type {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .rectangle-wrapper {
    min-width: 100%;
  }
  .services-adminhigh-fidelity {
    padding-left: 39px;
    padding-right: 38px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .services {
    font-size: var(--font-size-lg);
  }
  .untitled-removebg-preview-3-parent {
    gap: 0 31px;
  }
  .user-5 {
    font-size: var(--font-size-base);
  }
  .clients {
    font-size: var(--font-size-lg);
  }
  .car-wash,
  .user-1,
  .user-2,
  .user-3,
  .user-4 {
    font-size: var(--font-size-base);
  }
  .service-type {
    font-size: var(--font-size-lg);
  }
  .car-wash2,
  .change-oil,
  .change-oil2,
  .interior-cleaning,
  .motorcycle {
    font-size: var(--font-size-base);
  }
  .vehicle-type {
    font-size: var(--font-size-lg);
  }
  .sedan,
  .suv,
  .suv2,
  .van {
    font-size: var(--font-size-base);
  }
}
